
                   
   
        <div class=" container-fluid footer bg-danger">
            
                <!-- <img src="/images/durgaLogo.jpg" style="width:60px; float:left"> -->
                <div class="address"><span id="text"><i class="fa-solid fa-location-dot"></i><br><br>Pulluviilakam Devi Tmeple<br>Eenchamoola Vellalloor<br> Po Thiruvanathapuram<br>695601
                    Kerala</span><br></div>

            <!-- <div class="cols-4">
                <h3><u>temple timings</u></h3>
            <h4>Morning :- 06.00 to 10.00</h4>
            <h4>Evening :- 04.30 to 07.00</h4>
            </div> -->
            
                <div class="phone"><span id="text"><i class="fa-solid fa-phone-volume"></i><br><br>9656368898<br>+9156368898(whatsapp)</span></div>

        </div>

