<% layout("/layouts/boilerplate.ejs") %>

<body>
     <div class="background-image" style="width:100%; max-height: 200px;">
      <!-- <div class="background-image-content">
        <div class="img-overlay"><h1 style="font-size:100px; text-shadow:4px 5px black;">Sree Pulluvillakam Devi</h1></div> -->
      </div>
    </div>
    <div class="contact row row-cols-lg-3 row-cols-sm-1">
      <div class="address"><span id="text"><i class="fa-solid fa-location-dot"></i><br><br>Pulluviilakam Devi Tmeple<br>Eenchamoola Vellalloor<br> Po Thiruvanathapuram<br>695601
      Kerala</span><br></div>
      <div class="email"> <span id="text"><i class="fa-regular fa-envelope"></i><br>Email<br>gokul@gokul.com</span><br></div><br>
      <div class="phone"><span id="text"><i class="fa-solid fa-phone-volume"></i><br><br>9656368898<br>+9156368898(whatsapp)</span></div>
    </div>
</body>
